<div class="home-page">
  <a href="/categories/3" class="home-banner">
    <h2>Fall Fashion</h2>
  </a>
  <div class="home-gallery">
    <a href= "/categories/1" class="featured-category-1">
      <h3>Tech</h3>
    </a>
    <a href="categories/5" class="featured-category-2">
      <h3>Games and Movies</h3>
    </a>
  </div>
</div>
