main {
  padding-top: 70px;
  width: 1100px;
  min-height: 650px;
  margin: auto;
  box-sizing: border-box;
}
nav {
  background: black;
  position: fixed;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  a {
    text-decoration: none;
    color: white;
  }
}
nav > div{
  display: block;
  color: white;
}
.agora-logo {
  font-size: 3.0em;
  color: white;
  text-decoration: none;
}
.drop-button {
  display: block;
  background: black;
  color: white;
  font-size: 1.5em;
  border: none;
  outline: none;
  padding: 0 20px;
  width: 150px;
}
.drop-down-content {
  background: black;
  display: none;
  position: absolute;
}
#account .drop-down-content {
  right: 0;
}
.drop-down-content a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px 20px;
  width: 150px;
}
.drop-down-content a:hover {
  display: block;
  text-decoration: none;
  color: red;
  padding: 20px 20px;
}

.home-page {
  height: 640px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
}
.home-banner {
  width: 100%;
  height: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('fall-fashion.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 5.0em;
    letter-spacing: 20px;
  }
}
.home-banner:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('fall-fashion.jpg');
  background-size: cover;
  background-position: center;
}
.home-gallery {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-category-1 {
  width: 49%;
  height: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('tech.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 2.0em;
    letter-spacing: 5px;
  }
}
.featured-category-1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('tech.jpg');
  background-size: cover;
  background-position: center;
}
.featured-category-2 {
  width: 49%;
  height: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('movies.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 2.0em;
    letter-spacing: 5px;
  }
}
.featured-category-2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('movies.jpg');
  background-size: cover;
  background-position: center;
}
